node_modules/
npm-debug.log*
iisnode/
.env*
docs/
.vscode/
coverage/
.nyc_output/

!.gitignore
!.gitkeep

# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

*.js.map

# GCP
app.yaml
