<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!-- TODO 環境によって設定変更 -->
    <appSettings>
        <add key="TTTS_PERFORMANCE_STATUSES_REDIS_HOST" value="devtttsfrontendprototype.redis.cache.windows.net" />
        <add key="TTTS_PERFORMANCE_STATUSES_REDIS_PORT" value="6380" />
        <add key="TTTS_PERFORMANCE_STATUSES_REDIS_KEY" value="QLnxXJC0srbSaabgac+4tzlmN6abiNdkNvVco7954xc=" />
    </appSettings>

    <system.webServer>
        <handlers>
            <add name="iisnode" path="/index.js" verb="*" modules="iisnode" />
            <add name="iisnode2" path="/api.js" verb="*" modules="iisnode" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="http2https" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
                </rule>

                <!-- First we consider whether the incoming URL matches a physical file in the /public folder -->
                <rule name="StaticContent">
                    <action type="Rewrite" url="public{REQUEST_URI}"/>
                </rule>

                <rule name="API">
                    <match url="^public/api[/]*(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
                    </conditions>
                    <action type="Rewrite" url="api.js" appendQueryString="true"/>
                </rule>

                <!-- All other URLs are mapped to the node.js site entry point -->
                <rule name="DynamicContent">
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
                    </conditions>
                    <action type="Rewrite" url="index.js" appendQueryString="true"/>
                </rule>
            </rules>
        </rewrite>

        <!-- Make sure error responses are left untouched -->
        <httpErrors existingResponse="PassThrough" />


        <iisnode
            nodeProcessCountPerApplication="0"
            maxNamedPipeConnectionRetry="200"
            namedPipeConnectionRetryDelay="250"
            watchedFiles="*.js;web.config"
            loggingEnabled="true"
            devErrorsEnabled="true"
         />
    </system.webServer>
</configuration>